.env
.env.*
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
build/
dist/
node_modules/
.git/
.gitignore
.envrc
.vscode/
.idea/
.DS_Store
.env.local
.env.production
.env.development
env/
venv/
ENV/
ENV.bak/
staticfiles/
media/

